<!DOCTYPE html>
<html lang="cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>OOPS～你的页面找不到啦！</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="http://www.znzn.me/static/css/error/dmaku.css">
    <style>body{background:#fff}div{width:1024px;height:320px;position:absolute;top:40%;left:50%;transform:translate(-50%,-50%)}</style>
</head>
<body>
<div><img src="/static/images/404.svg" alt=""></div>
</body></html>
