<!DOCTYPE html>
<html class="no-js" lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>留言板 - 凑凑 - EdChu的个人博客</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/theme/favicon.png">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
</head>

<body>
    <div class="scroll-progress primary-bg"></div>
    <!-- Start Preloader -->
    <!--     <div class="preloader text-center">
        <div class="circle"></div>
    </div> -->
    <!--Offcanvas sidebar-->
    <div th:replace="components/aside :: aside"></div>
    <!-- Start Header -->
    <div th:replace="components/header :: header"></div>
    <!--Start search form-->
    <div th:replace="components/search :: search"></div>
    <!-- Start Main content -->
    <main class="bg-grey pb-50">
        <div class="container">
            <div class="row entry-wraper">
                <div class="comments-area col-12" id="comments-area">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">MESSAGES</h5>
                    </div>
                    <div class="comment-list wow fadeIn animated" th:unless="${comments.list}">
                        <p>暂无留言</p>
                    </div>
                    <div class="comment-list wow fadeIn animated" th:each="comment : ${comments.list}">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex w-100">
                                <div class="thumb">
                                    <img th:if="${comment.avatar}" th:src="${comment.avatar}" th:data-name="${comment.createName}" alt="">
                                    <img th:unless="${comment.avatar}" class="avatar" src="" th:data-name="${comment.createName}" alt="">
                                </div>
                                <div class="desc w-100">
                                    <p class="comment" th:text="${comment.content}">
                                        This blog is so great!
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#" th:text="${comment.createName}">EdChu</a>
                                            </h5>
                                            <p class="date time" th:datetime="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm:ss')}">May 30, 1997</p>
                                        </div>
                                        <div class="reply-btn">
                                            <span class="btn-reply" th:data-reply="${comment.id}" th:data-name="${comment.createName}" th:data-parent="${comment.id}">Reply</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-comment depth-2 justify-content-between d-flex mt-50" th:each="child : ${comment.childrenComments}">
                            <div class="user justify-content-between d-flex w-100">
                                <div class="thumb">
                                    <img th:if="${child.avatar}" th:src="${comment.avatar}" th:data-name="${child.createName}" alt="">
                                    <img th:unless="${child.avatar}" class="avatar" src="" th:data-name="${child.createName}" alt="">
                                </div>
                                <div class="desc w-100">
                                    <p class="comment" th:text="${child.content}">
                                        Can't agree more!
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#" th:text="${child.createName}">EdChu</a>
                                            </h5>
                                            <p class="date time" th:datetime="${#dates.format(child.createTime,'yyyy-MM-dd HH:mm:ss')}">May 30, 1997</p>
                                        </div>
                                        <div class="reply-btn">
                                            <span class="btn-reply" th:data-reply="${child.id}" th:data-name="${child.createName}" th:data-parent="${child.parentId}">Reply</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form col-12 bg-grey wow fadeIn animated">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mb-30">Leave a Message</h5>
                    </div>
                    <form class="form-contact comment_form" method="post" id="commentForm">
                        <span id="replyTo" class="col-12 js-hidden"><span id="replyName"></span><span class="ml-15 text-muted font-small cursor-pointer" id="clearReply">清除</span></span>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="content" id="content" cols="30" rows="5" placeholder="Write Comment"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control" name="createName" id="createName" type="text" placeholder="Name" th:value="${session.user} ? ${session.user.nickname}" th:disabled="${session.user} ? true : false">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control" name="createEmail" id="createEmail" type="email" placeholder="Email" th:value="${session.user} ? ${session.user.email}" th:disabled="${session.user} ? true : false">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control" name="createWebsite" id="createWebsite" type="text" placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="js-hidden">
                            <input class="form-control" name="articleId" id="articleId" value="0">
                            <input class="form-control" name="replyId" id="replyId">
                            <input class="form-control" name="parentId" id="parentId">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn button button-contactForm" id="submit">Post Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- End Main content -->
    <!--site-bottom-->
    <div th:replace="components/categories :: categories"></div>
    <!--end site-bottom-->
    <!-- Footer Start-->
    <div th:replace="components/foot :: foot"></div>
    <!-- End Footer -->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->
    <script src="/static/js/vendor/timeago.js"></script>
    <script>
      // 自动更新
      var timeagoInstance = timeago();// 实例
      timeagoInstance.render(document.querySelectorAll('.time'),'zh_CN');
    </script>
    <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/jquery.slicknav.js"></script>
    <script src="/static/js/vendor/slick.min.js"></script>
    <script src="/static/js/vendor/wow.min.js"></script>
    <script src="/static/js/vendor/jquery.ticker.js"></script>
    <script src="/static/js/vendor/jquery.vticker-min.js"></script>
    <script src="/static/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="/static/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/static/js/vendor/jquery.magnific-popup.js"></script>
    <script src="/static/js/vendor/jquery.sticky.js"></script>
    <script src="/static/js/vendor/perfect-scrollbar.js"></script>
    <script src="/static/js/vendor/waypoints.min.js"></script>
    <script src="/static/js/vendor/jquery.theia.sticky.js"></script>
    <!-- NewsBoard JS -->
    <script src="/static/js/main.js"></script>
    <script src="/static/js/vendor/timeago.js"></script>
    <script>
      // 自动更新
      var timeagoInstance = timeago();// 实例
      timeagoInstance.render(document.querySelectorAll('.time'),'zh_CN');
    </script>
    <script src="/static/js/addComment.js"></script>
    <script src="/static/js/vendor/getAjax.js"></script>
    <script src="/static/js/vendor/toastr.min.js"></script>
    <script type="text/javascript">
      toastr.options.positionClass = 'toast-top-right';
    </script>
</body>

</html>
