<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>凑凑 - EdChu的个人博客</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/theme/favicon.png">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body>
    <div class="scroll-progress primary-bg"></div>
    <!-- Start Preloader -->
    <!--     <div class="preloader text-center">
        <div class="circle"></div>
    </div> -->
    <!--Offcanvas sidebar-->
    <div th:replace="components/aside :: aside"></div>
    <!-- Start Header -->
    <div th:replace="components/header :: header"></div>
    <!--Start search form-->
    <div th:replace="components/search :: search"></div>
    <!-- Start Main content -->
    <main>
        <div class="featured-slider-2">
            <div class="featured-slider-2-items">
                <div class="slider-single" th:each="sticky : ${stickies}">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay position-relative" th:style="'background-image: url(' + ${sticky.thumbPreview} + ')'">
                            <div class="post-content-overlay">
                                <div class="container">
                                    <div class="entry-meta meta-0 font-small mb-20">
                                        <a th:each="category : ${sticky.categories}" th:href="${category.href}"><span class="post-cat text-uppercase" th:classappend="${category.color}" th:text="${category.name}"></span></a>
                                    </div>
                                    <h1 class="post-title mb-20 font-weight-900 text-white">
                                        <a class="text-white" th:href="${sticky.aliasHref}" tabindex="0" th:text="${sticky.title}"></a>
                                    </h1>
                                    <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                        <span class="post-on time" th:datetime="${#dates.format(sticky.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                        <span class="time-reading has-dot">[[${sticky.minutes}]] mins read</span>
                                        <span class="hit-count has-dot"><i class="elegant-icon icon_genius mr-5"></i><span th:text="${sticky.views}"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container position-relative">
<!--                <div class="arrow-cover color-white"></div>-->
                <div class="featured-slider-2-nav-cover">
                    <div class="featured-slider-2-nav">
                        <div class="slider-post-thumb mr-15 mt-20 position-relative" th:each="sticky : ${stickies}">
                            <div class="d-flex hover-up-2 transition-normal">
                                <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5">
                                    <img class="border-radius-5" th:src="${sticky.thumbPreview}" alt="">
                                </div>
                                <div class="post-content media-body text-white">
                                    <h5 class="post-title mb-15 text-limit-2-row" th:text="${sticky.title}"></h5>
                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                        <span class="post-on text-white time" th:datetime="${#dates.format(sticky.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                        <span class="post-by has-dot text-white"><i class="elegant-icon icon_genius mr-5"></i><span th:text="${sticky.views}"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End feature -->
        <div class="container">
            <div class="hot-tags pt-30 pb-30 font-small align-self-center">
                <div class="widget-header-3">
                    <div class="row align-self-center">
                        <nav class="col-md-4 align-self-center nav">
                            <a class="font-weight-500 font-large nav-link active" aria-current="page" href="#">最近更新</a>
                        </nav>
                        <div class="col-md-8 text-md-right font-small align-self-center">
                            <p class="d-inline-block mr-5 mb-0"><i class="elegant-icon  icon_tag_alt mr-5 text-muted"></i>热门标签：</p>
                            <ul class="list-inline d-inline-block tags">
                                <li class="list-inline-item" th:each="hotTag, tagStat : ${hotTags}" th:if="${tagStat.index < 5}"><a th:href="'/tag/' + ${hotTag.tag}" th:text="'#'+${hotTag.tag}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loop-grid mb-30">
                <div id="articleList" class="row">
                    <div class="col-lg-8 mb-30">
                        <div class="carausel-post-1 hover-up border-radius-10 overflow-hidden transition-normal position-relative wow fadeInUp animated">
                            <div class="arrow-cover"></div>
                            <div class="slide-fade">
                                <div class="position-relative post-thumb" th:each="last, lastStat : ${lasts}" th:if="${lastStat.index < 2}">
                                    <div class="thumb-overlay img-hover-slide position-relative" th:style="'background-image: url(' + ${last.thumbPreview} + ')'">
                                        <a class="img-link" th:href="${last.aliasHref}"></a>
<!--                                        <span class="top-left-icon bg-warning"><i class="elegant-icon icon_star_alt"></i></span>-->
                                        <div class="post-content-overlay text-white ml-30 mr-30 pb-30">
                                            <div class="entry-meta meta-0 font-small mb-20">
                                                <a th:each="category : ${last.categories}" th:href="${category.href}"><span class="post-cat text-uppercase" th:classappend="${category.color}" th:text="${category.name}"></span></a>
                                            </div>
                                            <h3 class="post-title font-weight-900 mb-20">
                                                <a class="text-white" th:href="${last.aliasHref}" th:text="${last.title}"></a>
                                            </h3>
                                            <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                                <span class="post-on time" th:datetime="${#dates.format(last.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                                <span class="time-reading has-dot">[[${last.minutes}]] 字</span>
                                                <span class="post-by has-dot" th:text="${last.views} + ' 阅读'"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s" th:each="last,lastStat : ${lasts}" th:if="${lastStat.index} > 1">
                        <div class="post-card-1 border-radius-10 hover-up">
                            <div class="post-thumb thumb-overlay img-hover-slide position-relative" th:style="'background-image: url(' + ${last.thumbPreview} + ')'">
                                <a class="img-link" th:href="${last.aliasHref}"></a>
<!--                                <span class="top-right-icon bg-success"><i class="elegant-icon icon_camera_alt"></i></span>-->
                                <ul class="social-share">
                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                    <li class="list-inline-item"><a class="fb" th:href="'https://www.facebook.com/sharer/sharer.php?u=https://edchu.cn' + ${last.aliasHref}" target="_blank" title="facebook"><i class="elegant-icon social_facebook"></i></a></li>
                                    <li class="list-inline-item"><a class="tw twitter-share-button" th:href="'https://twitter.com/share?&text='+ ${last.title} + '&url=https://edchu.cn' + ${last.aliasHref} + '?login=false'" target="_blank"><i class="elegant-icon social_twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="ig" href="https://www.instagram.com/edchu_cn/" target="_blank" title="Instagram"><i class="elegant-icon social_instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="post-content p-30">
                                <div class="entry-meta meta-0 font-small mb-10">
                                    <a th:each="category : ${last.categories}" th:href="${category.href}"><span class="post-cat text-uppercase" th:classappend="${category.color}" th:text="${category.name}"></span></a>
                                </div>
                                <div class="d-flex post-card-content">
                                    <h5 class="post-title mb-20 font-weight-400">
                                        <a th:href="${last.aliasHref}" th:text="${last.title}"></a>
                                    </h5>
                                    <div class="entry-meta meta-1 float-left font-x-small">
                                        <span class="post-on time" th:datetime="${#dates.format(last.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                        <span class="time-reading has-dot">[[${last.minutes}]] 字</span>
                                        <span class="post-by has-dot" th:text="${last.views} + ' 阅读'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row" th:if="${lastsCount} > 6">
                <div class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated m-auto" data-wow-delay="0.2s">
                    <li><button id="featureMoreBtn" class="btn bg-grey text-muted font-small box-shadow text-center" style="width: 100%" data-id = 2 data-limit = 6>查看更多</button></li>
                </div>
            </div>
        </div>
    </main>
    <!-- End Main content -->
    <!--site-bottom-->
    <div th:replace="components/categories :: categories"></div>
    <!--end site-bottom-->
    <!-- Footer Start-->
    <div th:replace="components/foot :: foot"></div>
    <!-- End Footer -->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->
    <script src="/static/js/vendor/timeago.js"></script>
    <script>
      // 自动更新
      var timeagoInstance = timeago();// 实例
      timeagoInstance.render(document.querySelectorAll('.time'),'zh_CN');
    </script>
    <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/jquery.slicknav.js"></script>
    <script src="/static/js/vendor/slick.min.js"></script>
    <script src="/static/js/vendor/wow.min.js"></script>
    <script src="/static/js/vendor/jquery.ticker.js"></script>
    <script src="/static/js/vendor/jquery.vticker-min.js"></script>
    <script src="/static/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="/static/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/static/js/vendor/jquery.magnific-popup.js"></script>
    <script src="/static/js/vendor/jquery.sticky.js"></script>
    <script src="/static/js/vendor/perfect-scrollbar.js"></script>
    <script src="/static/js/vendor/waypoints.min.js"></script>
    <script src="/static/js/vendor/jquery.theia.sticky.js"></script>
    <!-- NewsBoard JS -->
    <script src="/static/js/main.js"></script>

    <script type="module" src="/static/js/index.js"></script>
    <script src="/static/js/vendor/getAjax.js"></script>
</body>

</html>
