<!DOCTYPE html>
<html class="no-js" lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>统一登录平台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="117692462533-bdg0naaj6gqlb4d910pr9cc2hjbvnoc0.apps.googleusercontent.com">
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/theme/favicon.png">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body style="height: 100vh">
    <!-- Start Preloader -->
    <!--     <div class="preloader text-center">
        <div class="circle"></div>
    </div> -->
    <!--Offcanvas sidebar-->

    <!-- Start Main content -->
    <main class="bg-grey pt-80 pb-80 h-100" style="background-size: cover; overflow: scroll">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap widget-taber-content p-30 bg-white border-radius-10">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1 text-center">
                                <h3 class="mb-30 font-weight-900">统一登录平台</h3>
                            </div>
                            <div id="logout-redirect" th:if="logout" th:data-target="${redirect}"></div>
                            <form method="post" id="loginForm" th:action="'/login/submit?' + (${redirect} ? ('redirect=' + ${redirect} + '&') : '') + (${login} ? ('login=' + ${login}) : '')" enctype="application/json">
                                <div class="form-group">
                                    <input type="text" required="" class="form-control" name="username" placeholder="用户名">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" required="" type="password" name="password" placeholder="密码">
                                </div>
                                <div class="login_footer form-group">
                                    <a class="text-muted" href="#">忘记密码？</a>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="loginBtn" class="button button-contactForm btn-block" th:data-params="'&' + (${redirect} ? ('redirect=' + ${redirect} + '&') : '') + (${login} ? ('login=' + ${login}) : '')">登录</button>
                                </div>
                            </form>
                            <div class="divider-text-center mt-15 mb-15">
                                <span> OR</span>
                            </div>
                            <div class="btn-login list_none text-center mb-15">
                                <div id="my-signin2" class="d-flex justify-content-center"></div>
                            </div>
                            <div class="text-muted text-center">还没有账号？ <a href="/register">点击注册</a></div>
                            <div th:if="${error}" class="modal fade" id="error-Modal" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmSubmit">提示</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div id="subscribe-msg" class="modal-body">
                                            <p>[[${error}]]</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn bg-primary text-white" data-dismiss="modal">确定</button>
                                        </div>
                                    </div>
                                </div>
                                <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
                                <script src="/static/js/vendor/bootstrap.min.js"></script>
                                <script>
                                  var myModal = new bootstrap.Modal(document.getElementById('error-Modal'), {
                                    keyboard: false
                                  })
                                  myModal.toggle()
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End Main content -->
    <!-- Footer Start-->

    <!-- End Footer -->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->
<!--    <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>-->
<!--    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>-->
<!--    <script src="/static/js/vendor/popper.min.js"></script>-->
<!--    <script src="/static/js/vendor/bootstrap.min.js"></script>-->
<!--    <script src="/static/js/vendor/jquery.slicknav.js"></script>-->
<!--    <script src="/static/js/vendor/slick.min.js"></script>-->
<!--    <script src="/static/js/vendor/wow.min.js"></script>-->
<!--    <script src="/static/js/vendor/jquery.ticker.js"></script>-->
<!--    <script src="/static/js/vendor/jquery.vticker-min.js"></script>-->
<!--    <script src="/static/js/vendor/jquery.scrollUp.min.js"></script>-->
<!--    <script src="/static/js/vendor/jquery.nice-select.min.js"></script>-->
<!--    <script src="/static/js/vendor/jquery.magnific-popup.js"></script>-->
<!--    <script src="/static/js/vendor/jquery.sticky.js"></script>-->
<!--    <script src="/static/js/vendor/perfect-scrollbar.js"></script>-->
<!--    <script src="/static/js/vendor/waypoints.min.js"></script>-->
<!--    <script src="/static/js/vendor/jquery.theia.sticky.js"></script>-->
<!--     NewsBoard JS-->
<!--    <script type="module" src="/static/js/main.js"></script>-->
    <script th:if="${logout}">
        function onSuccess() {
          var auth2 = gapi.auth2.getAuthInstance();
          let redirect = document.getElementById('logout-redirect').dataset.target
          console.log(redirect)
          auth2.signOut().then(function () {
            window.location.href = redirect
          });
        }
    </script>
    <script th:unless="${logout}">
      function onSuccess(googleUser) {
        let error = document.getElementById('error-Modal')
        console.log(error)
        if (error) {
          console.log('error login')
        } else {
          let id_token = googleUser.getAuthResponse().id_token;
          console.log(id_token)
          let params = document.getElementById('loginBtn').dataset.params
          window.location.href='/login/google?idToken='+id_token+params
        }
      }
    </script>
    <script>
      function onFailure(error) {
        console.log(error);
      }
      function renderButton() {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 240,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      }
    </script>

    <script src="/static/js/vendor/google-platform.js" async defer></script>
</body>

</html>
