<!DOCTYPE html>
<html class="no-js" lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>统一登录平台-注册</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/theme/favicon.png">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
</head>

<body style="height: 100vh">
    <div class="scroll-progress primary-bg"></div>
    <!-- Start Preloader -->
    <!--     <div class="preloader text-center">
        <div class="circle"></div>
    </div> -->
    <!-- Start Main content -->
    <main class="bg-grey pt-80 pb-80 h-100" style="background-size: cover; overflow: scroll">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap widget-taber-content p-30 bg-white border-radius-10">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1 text-center">
                                <h3 class="mb-30 font-weight-900">账号注册</h3>
                            </div>
                            <form id="registerForm" method="post">
                                <div class="form-group">
                                    <input type="text" required="" class="form-control" name="username" placeholder="用户名">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="邮箱">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" required="" type="password" name="password" placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" required="" type="password" name="confirmPassword" placeholder="确认密码">
                                </div>
                                <div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="6LcPWzEaAAAAAN37oKCUBAQNJHfA-kdE0FYguIhh"></div>
                                </div>
<!--                                <div class="login_footer form-group">-->
<!--                                    <div class="chek-form">-->
<!--                                        <div class="custome-checkbox">-->
<!--                                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">-->
<!--                                            <label class="form-check-label" for="exampleCheckbox1"><span>I agree to terms &amp; Policy.</span></label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <a class="text-muted" href="#">Lean more</a>-->
<!--                                </div>-->
                                <div class="form-group">
                                    <button id="register" type="button" class="button button-contactForm btn-block">确认注册</button>
                                </div>
                            </form>
                            <div class="divider-text-center mt-15 mb-15">
                                <span> or</span>
                            </div>
                            <ul class="btn-login list_none text-center mb-15">
                                <li><a href="#" class="btn btn-facebook"><i class="elegant-icon social_facebook  mr-5"></i>Facebook</a></li>
                                <li><a href="#" class="btn btn-google"><i class="elegant-icon social_googleplus mr-5"></i>Google</a></li>
                            </ul>
                            <div class="text-muted text-center">已经有账号了？ <a href="/">去登录</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End Main content -->

    <div class="dark-mark"></div>
    <!-- Vendor JS-->
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/toastr.min.js"></script>
    <script type="text/javascript">
      toastr.options.positionClass = 'toast-top-right';
    </script>
    <script type="module" src="/static/js/register.js"></script>
<!--    <script>-->
<!--      let options = {-->
<!--        container: 'body',-->
<!--        placement: 'top',-->
<!--        trigger: 'manual',-->
<!--        content: '<div id="captcha"></div>',-->
<!--        html: true-->
<!--      }-->
<!--      var register = document.getElementById('register')-->
<!--      var recaptcha = new bootstrap.Popover(register, options)-->
<!--      recaptcha.hide()-->
<!--    </script>-->
<!--    <script src="https://www.recaptcha.net/recaptcha/api.js?render=explicit" async defer></script>-->
    <script src="https://www.recaptcha.net/recaptcha/api.js"></script>
</body>

</html>
