<!DOCTYPE html>
<html class="no-js" lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>确认订阅 - 凑凑 - EdChu的个人博客</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/theme/favicon.png">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body>
<div class="scroll-progress primary-bg"></div>
<!-- Start Preloader -->
<!--     <div class="preloader text-center">
    <div class="circle"></div>
</div> -->
<!--Offcanvas sidebar-->
<div th:replace="./components/aside :: aside"></div>
<!-- Start Header -->
<div th:replace="./components/header :: header"></div>
<!--Start search form-->
<div th:replace="./components/search :: search"></div>
<!-- Start Main content -->
<main th:class="${message} ? 'bg-grey pt-50 pb-50' : 'bg-grey pb-30'">
    <div th:unless="${message}" class="entry-header entry-header-style-2 pb-80 pt-80 mb-50 text-white" style="background-image: url(/static/imgs/theme/north-star.jpg)">
        <div class="container entry-header-content">
            <h1 class="entry-title mb-20 font-weight-900">
                念去去，千里烟波，雾霭沉沉楚天阔
            </h1>
        </div>
    </div>
    <div class="container single-content">
        <div class="entry-wraper" th:if="${message}">
            <div class="row pt-10">
                <div class="col-lg-6 col-md-12 d-lg-block d-none pr-50"><img src="/static/imgs/theme/cancel.png" alt=""></div>
                <div th:if="${message}" class="col-lg-6 pt-50 col-md-12 pl-50 text-md-center text-lg-left">
                    <h2 class="mb-30 font-weight-900">很抱歉……</h2>
                    <p>[[${message}]]</p>
                </div>
            </div>
        </div>
        <div class="entry-wraper mt-50" th:unless="${message}">
            <p class="font-large">退订成功！感谢你曾经的陪伴，你还可以在下方管理你的订阅。</p>
            <hr class="wp-block-separator is-style-wide">
            <form class="form-contact comment_form" action="/subscribe/manage" method="post" id="commentForm">
                <div class="row">
                    <div class="col-12 pt-10">
                        <h5>提醒相关：</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-check pt-5">
                            <input class="form-check-input" type="checkbox" value="1" id="friendNotify">
                            <label class="form-check-label" for="friendNotify">
                                友链确认、取消通知
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-check pt-5">
                            <input class="form-check-input" type="checkbox" value="2" id="commentNotify" >
                            <label class="form-check-label" for="commentNotify">
                                评论通知
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-check pt-5">
                            <input class="form-check-input" type="checkbox" value="3" id="subscribeNotify">
                            <label class="form-check-label" for="subscribeNotify">
                                确认订阅通知
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-10">
                        <h5>订阅相关：</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-check pt-5">
                            <input class="form-check-input" type="checkbox" value="4" id="subscribeSend">
                            <label class="form-check-label" for="subscribeSend">
                                最新文章推送
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 pt-20">
                        <button type="button" id="confirmManage" class="button button-contactForm">确认退订</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--container-->
</main>
<!-- End Main content -->
<!-- Footer Start-->
<div th:replace="./components/foot :: foot"></div>
<!-- End Footer -->
<div class="dark-mark"></div>
<!-- Vendor JS-->
<script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/static/js/vendor/popper.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/jquery.slicknav.js"></script>
<script src="/static/js/vendor/slick.min.js"></script>
<script src="/static/js/vendor/wow.min.js"></script>
<script src="/static/js/vendor/jquery.ticker.js"></script>
<script src="/static/js/vendor/jquery.vticker-min.js"></script>
<script src="/static/js/vendor/jquery.scrollUp.min.js"></script>
<script src="/static/js/vendor/jquery.nice-select.min.js"></script>
<script src="/static/js/vendor/jquery.magnific-popup.js"></script>
<script src="/static/js/vendor/jquery.sticky.js"></script>
<script src="/static/js/vendor/perfect-scrollbar.js"></script>
<script src="/static/js/vendor/waypoints.min.js"></script>
<script src="/static/js/vendor/jquery.theia.sticky.js"></script>
<!-- NewsBoard JS -->
<script src="/static/js/main.js"></script>
<script src="/static/js/vendor/timeago.js"></script>
<script>
  // 自动更新
  var timeagoInstance = timeago();// 实例
  timeagoInstance.render(document.querySelectorAll('.time'),'zh_CN');
</script>
<script>
    $('#confirmManage').click(function () {
      console.log($('#friendNotify').val())
    })
</script>
</body>

</html>
