<!DOCTYPE html>
<html class="no-js" lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>[[${search}]] - 搜索 - 凑凑 - EdChu的个人博客</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/theme/favicon.png">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body>
    <div class="scroll-progress primary-bg"></div>
    <!-- Start Preloader -->
    <!--     <div class="preloader text-center">
        <div class="circle"></div>
    </div> -->
    <!--Offcanvas sidebar-->
    <div th:replace="components/aside :: aside"></div>
    <!-- Start Header -->
    <div th:replace="components/header :: header"></div>
    <!--Start search form-->
    <div th:replace="components/search :: search"></div>
    <!-- Start Main content -->
    <main>
        <!--archive header-->
        <div class="archive-header pt-50">
            <div class="container">
                <h2 class="font-weight-900">Search results</h2>
                <div class="breadcrumb" th:if="${list}">
                    我们找到了 [[${list.totalCount}]] 篇关于 <strong>"[[${search}]]" </strong> 的文章
                </div>
                <div class="breadcrumb" th:unless="${list}">
                    没有搜索结果
                </div>
                <div class="bt-1 border-color-1 mt-30 mb-50"></div>
            </div>
        </div>
        <div class="pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="post-module-3">
                            <div class="loop-list loop-list-style-1" th:if="${list}">
                                <article class="hover-up-2 transition-normal wow fadeInUp animated" th:each="article : ${list.list}">
                                    <div class="row mb-40 list-style-2">
                                        <div class="col-md-4">
                                            <div class="post-thumb position-relative border-radius-5">
                                                <div class="img-hover-slide border-radius-5 position-relative" th:style="'background-image: url(' + ${article.thumbPreview} + ')'">
                                                    <a class="img-link" th:href="${article.aliasHref}"></a>
                                                </div>
                                                <ul th:replace="category-list :: socialShare" class="social-share"></ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8 align-self-center">
                                            <div class="post-content">
                                                <div class="entry-meta meta-0 font-small mb-10">
                                                    <a th:each="category : ${article.categories}" th:href="${category.href}"><span class="post-cat text-uppercase" th:classappend="${category.color}" th:text="${category.name}"></span></a>
                                                </div>
                                                <h5 class="post-title font-weight-900 mb-20">
                                                    <a th:href="${article.aliasHref}" th:text="${article.title}"></a>
<!--                                                    <span class="post-format-icon"><i class="elegant-icon icon_star_alt"></i></span>-->
                                                </h5>
                                                <div class="post-excerpt mb-25 font-small text-muted">
                                                    <p th:utext="${article.content}">Graduating from a top accelerator or incubator can be as career-defining for a&nbsp;startup founder&nbsp;as an elite university diploma. The intensive programmes, which…</p>
                                                </div>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on time" th:datetime="${#dates.format(article.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                                    <span class="time-reading has-dot">[[${article.minutes}]] 字</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="pagination-area mb-30 wow fadeInUp animated" th:if="${list}">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item" th:classappend="${pageInfo.isFirstPage()} ? js-hidden"><a class="page-link" th:href="${href} + (${pageInfo.currentPage} - 1)"><i class="elegant-icon arrow_left"></i></a></li>
                                    <li th:each="page : ${pageInfo.pageNumList}" class="page-item" th:classappend="(${pageInfo.currentPage} eq ${page}) ? active"><a class="page-link" th:href="${href} + ${page}" th:text="${page}"></a></li>
                                    <li class="page-item" th:classappend="${pageInfo.isLastPage()} ? js-hidden"><a class="page-link" th:href="${href} + (${pageInfo.currentPage} + 1)"><i class="elegant-icon arrow_right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget-area">
                            <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated" th:if="${hotArticles}">
                                <div class="widget-header-1-no-border position-relative mb-20">
                                    <h5 class="mt-5 mb-10">Most popular</h5>
                                </div>
                                <div class="post-block-list post-module-1">
                                    <ul class="list-post">
                                        <li class="mb-30 wow fadeInUp animated" th:each="hot : ${hotArticles}">
                                            <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                                <div class="post-content media-body">
                                                    <h6 class="post-title mb-15 text-limit-2-row font-medium"><a th:href="${hot.aliasHref}" th:text="${hot.title}"></a></h6>
                                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                        <span class="post-on time" th:datetime="${#dates.format(hot.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                                        <span class="post-by has-dot" th:text="${hot.views} + ' views'"></span>
                                                    </div>
                                                </div>
                                                <div class="post-thumb post-thumb-80 d-flex ml-15 border-radius-5 img-hover-scale overflow-hidden">
                                                    <a class="color-white" th:href="${hot.aliasHref}">
                                                        <img th:src="${hot.thumbPreview}" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-widget widget_instagram wow fadeInUp animated">
                                <div class="widget-header-1 position-relative mb-30">
                                    <h5 class="mt-5 mb-30">Instagram</h5>
                                </div>
                                <div class="instagram-gellay">
                                    <ul class="insta-feed">
                                        <li>
                                            <a href="/static/imgs/thumbnail-3.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="/static/imgs/news/thumb-1.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="/static/imgs/thumbnail-4.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="/static/imgs/news/thumb-2.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="/static/imgs/thumbnail-5.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="/static/imgs/news/thumb-3.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="/static/imgs/thumbnail-3.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="/static/imgs/news/thumb-4.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="/static/imgs/thumbnail-4.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="/static/imgs/news/thumb-5.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="/static/imgs/thumbnail-5.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="/static/imgs/news/thumb-6.jpg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End Main content -->
    <!-- Footer Start-->
    <div th:replace="components/foot :: foot"></div>
    <!-- End Footer -->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->
    <script src="/static/js/vendor/timeago.js"></script>
    <script type="module">
      // 自动更新
      var timeagoInstance = new timeago();
      timeagoInstance.render(document.querySelectorAll('.time'),'zh_CN');
    </script>
    <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/jquery.slicknav.js"></script>
    <script src="/static/js/vendor/slick.min.js"></script>
    <script src="/static/js/vendor/wow.min.js"></script>
    <script src="/static/js/vendor/jquery.ticker.js"></script>
    <script src="/static/js/vendor/jquery.vticker-min.js"></script>
    <script src="/static/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="/static/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/static/js/vendor/jquery.magnific-popup.js"></script>
    <script src="/static/js/vendor/jquery.sticky.js"></script>
    <script src="/static/js/vendor/perfect-scrollbar.js"></script>
    <script src="/static/js/vendor/waypoints.min.js"></script>
    <script src="/static/js/vendor/jquery.theia.sticky.js"></script>
    <!-- NewsBoard JS -->
    <script src="/static/js/main.js"></script>
</body>

</html>
