<!DOCTYPE html>
<html class="no-js" lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>[[${article.title}]] - 凑凑 - EdChu的个人博客</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--twtter分享-->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" th:content="${article.title}"/>
    <meta name="twitter:description" th:content="'点击查看关于' + ${article.title} + '的内容'"/>
    <meta name="twitter:site" content="@edchu">
    <meta name="twitter:creator" content="@edchu" />
    <meta name="twitter:image" th:content="${article.thumbPreview}"/>
    <!-- facebook分享-->
    <meta property="og:type"               content="article"/>
    <meta property="og:title"              th:content="${article.title}"/>
    <meta property="og:description"        th:content="'点击查看关于' + ${article.title} + '的内容'"/>
    <meta property="og:image"              th:content="${article.thumbPreview}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/theme/favicon.png">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/github.min.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
</head>

<body>
    <div class="scroll-progress primary-bg"></div>
    <!-- Start Preloader -->
    <!--     <div class="preloader text-center">
        <div class="circle"></div>
    </div> -->
    <!--Offcanvas sidebar-->
    <div th:replace="components/aside :: aside"></div>
    <!-- Start Header -->
    <div th:replace="components/header :: header"></div>
    <!--Start search form-->
    <div th:replace="components/search :: search"></div>
    <!-- Start Main content -->
    <main class="bg-grey pb-30">

        <div class="container single-content">
            <div class="entry-header pt-80 pb-30 mb-20">
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-sm-3">
                        <figure class="mb-0 mt-lg-0 mt-3 border-radius-5">
                            <img class=" border-radius-5" th:src="${article.thumbPreview}" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="post-content">
                            <div class="entry-meta meta-0 mb-15 font-small">
                                <a th:each="category : ${article.categories}" th:href="${category.href}"><span class="post-cat position-relative" th:classappend="${category.color}" th:text="${category.name}"></span></a>
                            </div>
                            <h1 class="entry-title mb-30 font-weight-900" th:text="${article.title}">
                                A boy who just wanna be a lifetime salted fish.
                            </h1>
                            <div class="entry-meta align-items-center meta-2 font-small color-muted">
                                <p class="mb-5">
                                    <a class="author-avatar" href="#"><img class="img-circle" th:src="${article.authorInfo.avatarUrl}" alt=""></a>
                                    By <a href="author.html"><span class="author-name font-weight-bold" th:text="${article.author}">Edchu</span></a>
                                </p>
                                <span class="mr-10 time" th:datetime="${#dates.format(article.createTime,'yyyy-MM-dd HH:mm:ss')}"> 30 May 1997</span>
                                <span class="time-reading has-dot">[[${article.minutes}]] 字</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--end single header-->
            <!--figure-->
            <article class="entry-wraper mb-50">
                <div id="content" class="markdown-body entry-main-content dropcap wow fadeIn animated" th:utext="${article.content}"></div>

                <div class="entry-bottom mt-50 mb-30 wow fadeIn animated">
                    <div class="tags">
                        <span>Tags: </span>
                        <a th:each="tag : ${article.tags}" th:href="'/tag/' + ${tag.tag}" rel="tag" th:text="${tag.tag}" class="mr-2">Coucou</a>
                    </div>
                </div>
                <div class="single-social-share clearfix wow fadeIn animated">
                    <div class="entry-meta meta-1 font-small color-grey float-left mt-10">
                        <span class="hit-count mr-15"><i class="elegant-icon icon_comment_alt mr-5"></i>[[${comments.totalCount}]] comments</span>
                        <span class="hit-count mr-15"><i class="elegant-icon icon_like mr-5"></i>[[${article.likes}]] likes</span>
                        <span class="hit-count"><i class="elegant-icon icon_genius mr-5"></i>[[${article.views}]] views</span>
                    </div>
                    <ul th:insert="single :: shareThis" class="header-social-network d-inline-block list-inline float-md-right mt-md-0 mt-4">
                    </ul>
                </div>
                <!--More posts-->
                <div th:replace="components/recommends :: recommends"></div>
                <!--Comments-->
                <div th:replace="components/comments :: comments"></div>
            </article>
        </div>
        <!--container-->
    </main>
    <!-- End Main content -->
    <!--site-bottom-->
    <div class="site-bottom pt-50 pb-50">
        <div class="container">
            <div th:replace="components/categories :: categories"></div>
        </div>
        <!--container-->
    </div>
    <!--end site-bottom-->
    <!-- Footer Start-->
    <div th:replace="components/foot :: foot"></div>
    <!-- End Footer -->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->
    <script src="/static/js/vendor/timeago.js"></script>
    <script>
      // 自动更新
      var timeagoInstance = timeago();// 实例
      timeagoInstance.render(document.querySelectorAll('.time'),'zh_CN');
    </script>
    <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/jquery.slicknav.js"></script>
    <script src="/static/js/vendor/slick.min.js"></script>
    <script src="/static/js/vendor/wow.min.js"></script>
    <script src="/static/js/vendor/jquery.ticker.js"></script>
    <script src="/static/js/vendor/jquery.vticker-min.js"></script>
    <script src="/static/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="/static/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/static/js/vendor/jquery.magnific-popup.js"></script>
    <script src="/static/js/vendor/jquery.sticky.js"></script>
    <script src="/static/js/vendor/perfect-scrollbar.js"></script>
    <script src="/static/js/vendor/waypoints.min.js"></script>
    <script src="/static/js/vendor/jquery.theia.sticky.js"></script>
    <!-- NewsBoard JS -->
    <script src="/static/js/main.js"></script>
    <script src="/static/js/highlight.min.js"></script>
    <script src="/static/js/addComment.js"></script>
    <script src="/static/js/vendor/getAjax.js"></script>
    <script src="/static/js/vendor/toastr.min.js"></script>
    <script type="text/javascript">
      toastr.options.positionClass = 'toast-top-right';
    </script>
    <script src="/static/js/article-img.js"></script>
</body>

</html>
