<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>[[${article.title}]] - 凑凑 - EdChu的个人博客</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/theme/favicon.png">
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/github.min.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
</head>

<body>
    <div class="scroll-progress primary-bg"></div>
    <!-- Start Preloader -->
    <!--     <div class="preloader text-center">
        <div class="circle"></div>
    </div> -->
    <!--Offcanvas sidebar-->
    <div th:replace="components/aside :: aside"></div>
    <!-- Start Header -->
    <div th:replace="components/header :: header"></div>
    <!--Start search form-->
    <div th:replace="components/search :: search"></div>
    <!-- Start Main content -->
    <main class="bg-grey pb-30">
        <div class="container single-content">
            <div class="entry-header entry-header-style-1 mb-50 pt-50">
                <h1 class="entry-title mb-50 font-weight-900" th:text="${article.title}">
                    A boy who just wanna be a lifetime salted fish.
                </h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="entry-meta align-items-center meta-2 font-small color-muted">
                            <p class="mb-5">
                                <a class="author-avatar" href="#"><img class="img-circle" th:src="${article.authorInfo.avatarUrl}" alt=""></a>
                                By <a href="author.html"><span class="author-name font-weight-bold" th:text="${article.author}"></span></a>
                            </p>
                            <span class="mr-10 time" th:datetime="${#dates.format(article.createTime,'yyyy-MM-dd HH:mm:ss')}"> 30 May 1997</span>
                            <span class="time-reading has-dot">[[${article.minutes}]] mins read</span>
                        </div>
                    </div>
                    <div class="col-md-6 text-right d-none d-md-inline">
                        <ul class="header-social-network d-inline-block list-inline mr-15">
                            <li class="list-inline-item text-muted"><span>Share this: </span></li>
                            <li class="list-inline-item"><a class="social-icon fb text-xs-center" target="_blank" href="#"><i class="elegant-icon social_facebook"></i></a></li>
                            <li class="list-inline-item"><a class="social-icon tw text-xs-center" target="_blank" href="#"><i class="elegant-icon social_twitter "></i></a></li>
                            <li class="list-inline-item"><a class="social-icon pt text-xs-center" target="_blank" href="#"><i class="elegant-icon social_pinterest "></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end single header-->
            <figure class="image mb-30 m-auto text-center border-radius-10">
                <div id="carouselExampleIndicators" class="carousel slide dowebok" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="http://code.z01.com/img/2016instbg_01.jpg" class="d-block w-100 border-radius-10" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="http://code.z01.com/img/2016instbg_02.jpg" class="d-block w-100 border-radius-10" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="http://code.z01.com/img/2016instbg_03.jpg" class="d-block w-100 border-radius-10" alt="...">
                        </div>
                        <div class="carousel-item">
                                <video autoplay class="d-block w-100 border-radius-10" src="https://tools-znzn-me.oss-cn-shenzhen.aliyuncs.com/blog/1/2021/02/23/93569694-fcc9-41c8-87e0-a3e8cdbbc002.mp4?Expires=1616036984&OSSAccessKeyId=TMP.3KeviwVowDijt45VywfEzMKoSpcbR2wTip9AT9yowu683WpHhaudGCAZtbmmdWkU34cZ1RKsiFwnbujrG6GgVtoReSVav9&Signature=3aGpD9Y24mnJmUAUqvO0S0ehEp8%3D&versionId=CAEQGxiBgIDdw6a5vhciIDhkMzMwYzRiMTFhNDRjZGY4YmY2YmZmODM2MWRjNDA0&response-content-type=application%2Foctet-stream">
                                </video>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
<!--                <img class="border-radius-10" th:src="${article.thumbPreview}" alt="post-title" />-->
            </figure>
            <!--figure-->
            <article class="entry-wraper mb-50">
<!--                <div class="excerpt mb-30">-->
<!--                    <p>Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far bald that roadrunner python inside held shrewdly the manatee.</p>-->
<!--                </div>-->

                <div class="entry-main-content dropcap wow fadeIn animated" th:utext="${article.content}">

                </div>
                <div class="entry-bottom mt-50 mb-30 wow fadeIn animated">
                    <div class="tags">
                        <span class="mr-5">Tags: </span>
                        <a th:each="tag : ${article.tags}" th:href="'/tag/' + ${tag.tag}" rel="tag" th:text="${tag.tag}" class="mr-2">Coucou</a>
                    </div>
                </div>
                <div class="single-social-share clearfix wow fadeIn animated">
                    <div class="entry-meta meta-1 font-small color-grey float-left mt-10">
                        <span class="hit-count mr-15"><i class="elegant-icon icon_comment_alt mr-5"></i>[[${comments.totalCount}]] comments</span>
                        <span class="hit-count mr-15"><i class="elegant-icon icon_like mr-5"></i>[[${article.likes}]] likes</span>
                        <span class="hit-count"><i class="elegant-icon icon_genius mr-5"></i>[[${article.views}]] views</span>
                    </div>
                    <ul class="header-social-network d-inline-block list-inline float-md-right mt-md-0 mt-4">
                        <li class="list-inline-item text-muted"><span>Share this: </span></li>
                        <li class="list-inline-item"><a class="social-icon fb text-xs-center" target="_blank" href="#"><i class="elegant-icon social_facebook"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon tw text-xs-center" target="_blank" href="#"><i class="elegant-icon social_twitter "></i></a></li>
                        <li class="list-inline-item"><a class="social-icon pt text-xs-center" target="_blank" href="#"><i class="elegant-icon social_pinterest "></i></a></li>
                    </ul>
                </div>
                <!--More posts-->
                <div class="single-more-articles border-radius-5" th:if="${recommends}">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">你可能会对以下文章感兴趣</h5>
                        <button class="single-more-articles-close"><i class="elegant-icon icon_close"></i></button>
                    </div>
                    <div class="post-block-list post-module-1 post-module-5">
                        <ul class="list-post">
                            <li th:each="recommend, stat : ${recommends}" th:class="(${stat.index} eq ${#lists.size(recommends) - 1}) ? mb-10 : mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" th:href="${recommend.aliasHref}">
                                            <img th:src="${recommend.thumbPreview}" alt="" style="object-fit: cover">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a th:href="${recommend.aliasHref}" th:text="${recommend.title}">Such a big cool guy</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on time" th:datetime="${#dates.format(recommend.createTime,'yyyy-MM-dd HH:mm:ss')}">30 MAY</span>
                                            <span class="post-by has-dot">[[${recommend.views}]] views</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Comments-->
                <div th:replace="components/comments :: comments"></div>
            </article>
        </div>
        <!--container-->
    </main>
    <!-- End Main content -->
    <!--site-bottom-->
    <div th:replace="components/categories :: categories"></div>
    <!--end site-bottom-->
    <!-- Footer Start-->
    <div th:replace="components/foot :: foot"></div>
    <!-- End Footer -->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->
    <script src="/static/js/vendor/timeago.js"></script>
    <script>
      // 自动更新
      var timeagoInstance = timeago();// 实例
      timeagoInstance.render(document.querySelectorAll('.time'),'zh_CN');
    </script>
    <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/jquery.slicknav.js"></script>
    <script src="/static/js/vendor/slick.min.js"></script>
    <script src="/static/js/vendor/wow.min.js"></script>
    <script src="/static/js/vendor/jquery.ticker.js"></script>
    <script src="/static/js/vendor/jquery.vticker-min.js"></script>
    <script src="/static/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="/static/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/static/js/vendor/jquery.magnific-popup.js"></script>
    <script src="/static/js/vendor/jquery.sticky.js"></script>
    <script src="/static/js/vendor/perfect-scrollbar.js"></script>
    <script src="/static/js/vendor/waypoints.min.js"></script>
    <script src="/static/js/vendor/jquery.theia.sticky.js"></script>
    <!-- NewsBoard JS -->
    <script src="/static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    <script src="/static/js/addComment.js"></script>
    <script src="/static/js/vendor/getAjax.js"></script>
    <script src="/static/js/vendor/toastr.min.js"></script>
    <script type="text/javascript">
      toastr.options.positionClass = 'toast-top-right';
    </script>
</body>

</html>
