<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.znzn.tools.module.blog.mapper.CategoryMapper">

    <!-- Category结果集 -->
    <resultMap id="CategoryMap" type="me.znzn.tools.module.blog.entity.po.Category" >
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="color" property="color" jdbcType="VARCHAR"/>
        <result column="href" property="href" jdbcType="VARCHAR"/>
        <result column="index" property="index" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 表名 -->
    <sql id="table_name">t_blog_category</sql>

    <!-- 所有字段 -->
    <sql id="all_columns">
        id, name, color, href, index
    </sql>

    <!-- 不带主键的所有字段 -->
    <sql id="all_columns_not_with_id">
        name, color, href, index
    </sql>

    <!-- 查询条件带where -->
    <sql id="all_query_condition_with_where">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null and '' != name">
                AND name LIKE CONCAT(CONCAT('%',#{name},'%'))
            </if>
            <if test="color != null and '' != color">
                AND color = #{color}
            </if>
            <if test="href != null and '' != href">
                AND href = #{href}
            </if>
            <if test="index != null and '' != index">
                AND index = #{index}
            </if>
        </trim>
    </sql>

    <!-- 删除条件带where -->
    <sql id="all_delete_condition_with_where">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="name != null and '' != name">
                AND name = #{name}
            </if>
            <if test="color != null and '' != color">
                AND color = #{color}
            </if>
            <if test="href != null and '' != href">
                AND href = #{href}
            </if>
            <if test="index != null and '' != index">
                AND index = #{index}
            </if>
        </trim>
    </sql>

    <!-- 更新条件带set -->
    <sql id="all_set_condition_with_set">
        <set>
            <if test="name != null and '' != name">
                name = #{name},
            </if>
            <if test="color != null and '' != color">
                color = #{color}
            </if>
            <if test="href != null and '' != href">
                href = #{href}
            </if>
            <if test="index != null and '' != index">
                index = #{index}
            </if>
        </set>
    </sql>

    <!-- 批量更新条件带set -->
    <sql id="all_batch_set_condition_with_set">
        <set>
            <if test="item.name != null and '' != item.name">
                name = #{item.name},
            </if>
            <if test="item.color != null and '' != item.color">
                color = #{item.color}
            </if>
            <if test="item.href != null and '' != item.href">
                href = #{item.href}
            </if>
            <if test="item.index != null and '' != item.index">
                AND index = #{index}
            </if>
        </set>
    </sql>

    <!--根据对象属性插入-->
    <insert id="insertByProperty" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="me.znzn.tools.module.blog.entity.po.Category">
        INSERT INTO <include refid="table_name"/>
        (
            <include refid="all_columns_not_with_id"/>
        )
        VALUES (
            #{name}, #{color}, #{href}, #{index}
        )
    </insert>

    <!--根据对象属性插入-->
    <insert id="insertBatchByProperty" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.List">
        INSERT INTO <include refid="table_name"/>
        (
            <include refid="all_columns_not_with_id"/>
        )
        VALUES
        <foreach collection="list" item="item" separator="," index = "index">
        (
            #{item.name}, #{item.color}, #{item.href}, #{item.index}
        )
        </foreach>
    </insert>

    <!--根据主键更新-->
    <update id="updateByPrimaryKey" parameterType="me.znzn.tools.module.blog.entity.po.Category">
        UPDATE <include refid="table_name"/>
            <include refid="all_set_condition_with_set"/>
        WHERE
            id = #{id}
    </update>

    <!--根据主键批量更新-->
    <update id="updateBatchByPrimaryKey" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE <include refid="table_name"/>
                <include refid="all_batch_set_condition_with_set"/>
            WHERE
                id = #{item.id}
        </foreach>
    </update>

    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM
            <include refid="table_name"/>
        WHERE
            id = #{id}
    </delete>

    <!--根据主键列表批量删除-->
    <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List">
        DELETE FROM
            <include refid="table_name"/>
        WHERE
            id
        IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--根据属性删除-->
    <delete id="deleteByProperty" parameterType="me.znzn.tools.module.blog.entity.po.Category">
        DELETE FROM <include refid="table_name"/>
        <include refid="all_delete_condition_with_where"/>
    </delete>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="CategoryMap">
        SELECT
            <include refid="all_columns"/>
        FROM
            <include refid="table_name"/>
        WHERE
            id = #{id}
    </select>

    <!-- 根据对象属性查询 -->
    <select id="selectByProperty" parameterType="me.znzn.tools.module.blog.entity.po.Category" resultMap="CategoryMap">
        SELECT
            <include refid="all_columns"/>
        FROM
            <include refid="table_name"/>
        <include refid="all_query_condition_with_where"/>
        ORDER BY index DESC
    </select>

    <!-- 根据对象属性查询统计 -->
    <select id="countByProperty" parameterType="me.znzn.tools.module.blog.entity.po.Category" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            <include refid="table_name"/>
        <include refid="all_query_condition_with_where"/>
    </select>

    <select id="selectCategoryByArticleId" resultType="me.znzn.tools.module.blog.entity.po.Category">
        SELECT category.id as id, category.name, category.color, category.href, category.index
        FROM <include refid="me.znzn.tools.module.blog.mapper.ArticleCategoryMapper.table_name"/> ac
        LEFT JOIN <include refid="table_name"/> category ON ac.category_id = category.id
        WHERE ac.article_id = #{id}
    </select>


</mapper>
