<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.znzn.tools.module.blog.mapper.EidMapper">

    <!-- Eid结果集 -->
    <resultMap id="EidMap" type="me.znzn.tools.module.blog.entity.po.Eid" >
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="eid" property="eid" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="template" property="template" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 表名 -->
    <sql id="table_name">t_blog_eid</sql>

    <!-- 所有字段 -->
    <sql id="all_columns">
        id, eid, email, type, status, template, nickname, create_time, remark
    </sql>

    <!-- 不带主键的所有字段 -->
    <sql id="all_columns_not_with_id">
        eid, email, type, status, template, nickname, create_time, remark
    </sql>

    <!-- 查询条件带where -->
    <sql id="all_query_condition_with_where">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="eid != null and '' != eid">
                AND eid = #{eid}
            </if>
            <if test="email != null and '' != email">
                AND email = #{email}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="template != null and '' != template">
                AND template = #{template}
            </if>
            <if test="nickname != null and '' != nickname">
                AND nickname = #{nickname}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="remark != null and '' != remark">
                AND remark = #{remark}
            </if>
        </trim>
    </sql>

    <!-- 删除条件带where -->
    <sql id="all_delete_condition_with_where">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="eid != null and '' != eid">
                AND eid = #{eid}
            </if>
            <if test="email != null and '' != email">
                AND email = #{email}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="template != null and '' != template">
                AND template = #{template}
            </if>
            <if test="nickname != null and '' != nickname">
                AND nickname = #{nickname}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="remark != null and '' != remark">
                AND remark = #{remark}
            </if>
        </trim>
    </sql>

    <!-- 更新条件带set -->
    <sql id="all_set_condition_with_set">
        <set>
            <if test="eid != null and '' != eid">
                eid = #{eid},
            </if>
            <if test="email != null and '' != email">
                email = #{email},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="template != null and '' != template">
                template = #{template},
            </if>
            <if test="nickname != null and '' != nickname">
                nickname = #{nickname},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="remark != null and '' != remark">
                remark = #{remark}
            </if>
        </set>
    </sql>

    <!-- 批量更新条件带set -->
    <sql id="all_batch_set_condition_with_set">
        <set>
            <if test="item.eid != null and '' != item.eid">
                eid = #{item.eid},
            </if>
            <if test="item.email != null and '' != item.email">
                email = #{item.email},
            </if>
            <if test="item.type != null">
                type = #{item.type},
            </if>
            <if test="status != null">
                status = #{item.status},
            </if>
            <if test="item.template != null and '' != item.template">
                template = #{item.template},
            </if>
            <if test="item.nickname != null and '' != item.nickname">
                nickname = #{item.nickname},
            </if>
            <if test="item.createTime != null">
                create_time = #{item.createTime},
            </if>
            <if test="item.remark != null and '' != item.remark">
                remark = #{item.remark}
            </if>
        </set>
    </sql>

    <!--根据对象属性插入-->
    <insert id="insertByProperty" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="me.znzn.tools.module.blog.entity.po.Eid">
        INSERT INTO <include refid="table_name"/>
        (
            <include refid="all_columns_not_with_id"/>
        )
        VALUES (
            #{eid}, #{email}, #{type}, #{status}, #{template}, #{nickname}, #{createTime}, #{remark}
        )
    </insert>

    <!--根据对象属性插入-->
    <insert id="insertBatchByProperty" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.List">
        INSERT INTO <include refid="table_name"/>
        (
            <include refid="all_columns_not_with_id"/>
        )
        VALUES
        <foreach collection="list" item="item" separator="," index = "index">
        (
            #{item.eid}, #{item.email}, #{item.type}, #{item.status}, #{item.template}, #{item.nickname}, #{item.createTime}, #{item.remark}
        )
        </foreach>
    </insert>

    <!--根据主键更新-->
    <update id="updateByPrimaryKey" parameterType="me.znzn.tools.module.blog.entity.po.Eid">
        UPDATE <include refid="table_name"/>
            <include refid="all_set_condition_with_set"/>
        WHERE
            id = #{id}
    </update>

    <!--根据主键批量更新-->
    <update id="updateBatchByPrimaryKey" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE <include refid="table_name"/>
                <include refid="all_batch_set_condition_with_set"/>
            WHERE
                id = #{item.id}
        </foreach>
    </update>

    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM
            <include refid="table_name"/>
        WHERE
            id = #{id}
    </delete>

    <!--根据主键列表批量删除-->
    <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List">
        DELETE FROM
            <include refid="table_name"/>
        WHERE
            id
        IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--根据属性删除-->
    <delete id="deleteByProperty" parameterType="me.znzn.tools.module.blog.entity.po.Eid">
        DELETE FROM <include refid="table_name"/>
        <include refid="all_delete_condition_with_where"/>
    </delete>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="EidMap">
        SELECT
            <include refid="all_columns"/>
        FROM
            <include refid="table_name"/>
        WHERE
            id = #{id}
    </select>

    <!-- 根据对象属性查询 -->
    <select id="selectByProperty" parameterType="me.znzn.tools.module.blog.entity.po.Eid" resultMap="EidMap">
        SELECT
            <include refid="all_columns"/>
        FROM
            <include refid="table_name"/>
        <include refid="all_query_condition_with_where"/>
    </select>

    <!-- 根据对象属性查询统计 -->
    <select id="countByProperty" parameterType="me.znzn.tools.module.blog.entity.po.Eid" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            <include refid="table_name"/>
        <include refid="all_query_condition_with_where"/>
    </select>

</mapper>
