<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>短网址服务</title>
</head>
<body>
<div id="app">
    <h2>欢迎使用短网址服务</h2>
    <el-form label-width="20%">
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item label="输入网址：">
                    <el-input v-model="url"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-button type="primary" @click="commit()">提交</el-button>
            </el-col>
        </el-row>
        <el-row  v-if="visible">
            <span>{{tip}}</span>
            <a :href="shortUrl">{{shortUrl}}</a>
        </el-row>
    </el-form>
</div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module">

  import {saveUrl} from "/js/api.js";

  new Vue({
    el: '#app',
    data: function() {
      return {
        visible: false,
        url: '',
        tip: '',
        shortUrl: ''
      }
    },
    methods: {
      commit() {
        console.log('提交')
        let params = {
          originUrl: this.url
        }
        saveUrl(params).then(res => {
          console.log(res)
          if (res.success) {
            this.$message.success("保存成功")
            this.tip = '保存成功，短链接为'
            this.shortUrl = 'http://10.112.161.203:8080/'+res.data
            this.visible = true
          } else {
            this.$message.error(res.message)
            this.tip = res.message
            this.visible = false
          }
        })
      }
    }
  })
</script>
</html>
