<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.znzn.tools.module.user.mapper.UserMapper">

    <!-- User结果集 -->
    <resultMap id="UserMap" type="me.znzn.tools.module.user.entity.po.User" >
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_emp" property="createEmp" jdbcType="BIGINT"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="modify_emp" property="modifyEmp" jdbcType="BIGINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="roles" property="roles" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="UserInfoVoMap" type="me.znzn.tools.module.user.entity.vo.UserInfoVO" extends="UserMap">

    </resultMap>

    <!-- 表名 -->
    <sql id="table_name">t_b_user</sql>

    <!-- 所有字段 -->
    <sql id="all_columns">
        id, username, password, email, mobile, sex, status, create_time, create_emp, modify_time, modify_emp, remark, roles, nickname, avatar
    </sql>

    <!-- 不带主键的所有字段 -->
    <sql id="all_columns_not_with_id">
        username, password, email, mobile, sex, status, create_time, create_emp, modify_time, modify_emp, remark, roles, nickname, avatar
    </sql>

    <!-- 查询条件带where -->
    <sql id="all_query_condition_with_where">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="username != null and '' != username">
                AND username = #{username}
            </if>
            <if test="password != null and '' != password">
                AND password = #{password}
            </if>
            <if test="email != null and '' != email">
                AND email = #{email}
            </if>
            <if test="mobile != null and '' != mobile">
                AND mobile = #{mobile}
            </if>
            <if test="sex != null">
                AND sex = #{sex}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="createEmp != null">
                AND create_emp = #{createEmp}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>
            <if test="modifyEmp != null">
                AND modify_emp = #{modifyEmp}
            </if>
            <if test="remark != null and '' != remark">
                AND remark = #{remark}
            </if>
            <if test="nickname != null and '' != nickname">
                AND nickname = #{nickname}
            </if>
            <if test="avatar != null and '' != avatar">
                AND avatar = #{avatar}
            </if>
            <if test="roles != null and '' != roles">
                AND JSON_CONTAINS(roles, #{roles})
            </if>
        </trim>
    </sql>

    <!-- 删除条件带where -->
    <sql id="all_delete_condition_with_where">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="username != null and '' != username">
                AND username = #{username}
            </if>
            <if test="password != null and '' != password">
                AND password = #{password}
            </if>
            <if test="email != null and '' != email">
                AND email = #{email}
            </if>
            <if test="mobile != null and '' != mobile">
                AND mobile = #{mobile}
            </if>
            <if test="sex != null">
                AND sex = #{sex}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="createEmp != null">
                AND create_emp = #{createEmp}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>
            <if test="modifyEmp != null">
                AND modify_emp = #{modifyEmp}
            </if>
            <if test="remark != null and '' != remark">
                AND remark = #{remark}
            </if>
            <if test="nickname != null and '' != nickname">
                AND nickname = #{nickname}
            </if>
            <if test="avatar != null and '' != avatar">
                AND avatar = #{avatar}
            </if>
        </trim>
    </sql>

    <!-- 更新条件带set -->
    <sql id="all_set_condition_with_set">
        <set>
            <if test="username != null and '' != username">
                username = #{username},
            </if>
            <if test="password != null and '' != password">
                password = #{password},
            </if>
            <if test="email != null and '' != email">
                email = #{email},
            </if>
            <if test="mobile != null and '' != mobile">
                mobile = #{mobile},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createEmp != null">
                create_emp = #{createEmp},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="modifyEmp != null">
                modify_emp = #{modifyEmp},
            </if>
            <if test="remark != null and '' != remark">
                remark = #{remark},
            </if>
            <if test="roles != null and '' != roles">
                roles = #{roles},
            </if>
            <if test="nickname != null and '' != nickname">
                nickname = #{nickname},
            </if>
            <if test="avatar != null and '' != avatar">
                avatar = #{avatar}
            </if>
        </set>
    </sql>

    <!-- 批量更新条件带set -->
    <sql id="all_batch_set_condition_with_set">
        <set>
            <if test="item.username != null and '' != item.username">
                username = #{item.username},
            </if>
            <if test="item.password != null and '' != item.password">
                password = #{item.password},
            </if>
            <if test="item.email != null and '' != item.email">
                email = #{item.email},
            </if>
            <if test="item.mobile != null and '' != item.mobile">
                mobile = #{item.mobile},
            </if>
            <if test="item.sex != null">
                sex = #{item.sex},
            </if>
            <if test="item.status != null">
                status = #{item.status},
            </if>
            <if test="item.createTime != null">
                create_time = #{item.createTime},
            </if>
            <if test="item.createEmp != null">
                create_emp = #{item.createEmp},
            </if>
            <if test="item.modifyTime != null">
                modify_time = #{item.modifyTime},
            </if>
            <if test="item.modifyEmp != null">
                modify_emp = #{item.modifyEmp},
            </if>
            <if test="item.remark != null and '' != item.remark">
                remark = #{item.remark},
            </if>
            <if test="item.roles != null and '' != item.roles">
                roles = #{roles},
            </if>
            <if test="item.nickname != null and '' != item.nickname">
                nickname = #{nickname},
            </if>
            <if test="avatar != null and '' != item.avatar">
                avatar = #{avatar}
            </if>
        </set>
    </sql>

    <!--根据对象属性插入-->
    <insert id="insertByProperty" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="me.znzn.tools.module.user.entity.po.User">
        INSERT INTO <include refid="table_name"/>
        (
            <include refid="all_columns_not_with_id"/>
        )
        VALUES (
            #{username}, #{password}, #{email}, #{mobile}, #{sex}, #{status}, #{createTime}, #{createEmp}, #{modifyTime}, #{modifyEmp}, #{remark}, #{roles}, #{nickname}, #{avatar}
        )
    </insert>

    <!--根据对象属性插入-->
    <insert id="insertBatchByProperty" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.List">
        INSERT INTO <include refid="table_name"/>
        (
            <include refid="all_columns_not_with_id"/>
        )
        VALUES
        <foreach collection="list" item="item" separator="," index = "index">
        (
            #{item.username}, #{item.password}, #{item.email}, #{item.mobile}, #{item.sex}, #{item.status}, #{item.createTime}, #{item.createEmp}, #{item.modifyTime}, #{item.modifyEmp}, #{item.remark}, #{item.roles}, #{item.nickname}, #{avatar}
        )
        </foreach>
    </insert>

    <!--根据主键更新-->
    <update id="updateByPrimaryKey" parameterType="me.znzn.tools.module.user.entity.po.User">
        UPDATE <include refid="table_name"/>
            <include refid="all_set_condition_with_set"/>
        WHERE
            id = #{id}
    </update>

    <!--根据主键批量更新-->
    <update id="updateBatchByPrimaryKey" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE <include refid="table_name"/>
                <include refid="all_batch_set_condition_with_set"/>
            WHERE
                id = #{item.id}
        </foreach>
    </update>

    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM
            <include refid="table_name"/>
        WHERE
            id = #{id}
    </delete>

    <!--根据主键列表批量删除-->
    <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List">
        DELETE FROM
            <include refid="table_name"/>
        WHERE
            id
        IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--根据属性删除-->
    <delete id="deleteByProperty" parameterType="me.znzn.tools.module.user.entity.po.User">
        DELETE FROM <include refid="table_name"/>
        <include refid="all_delete_condition_with_where"/>
    </delete>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="UserMap">
        SELECT
            <include refid="all_columns"/>
        FROM
            <include refid="table_name"/>
        WHERE
            id = #{id}
    </select>

    <!-- 根据对象属性查询 -->
    <select id="selectByProperty" parameterType="me.znzn.tools.module.user.entity.po.User" resultMap="UserMap">
        SELECT
            <include refid="all_columns"/>
        FROM
            <include refid="table_name"/>
        <include refid="all_query_condition_with_where"/>
    </select>

    <!-- 根据对象属性查询统计 -->
    <select id="countByProperty" parameterType="me.znzn.tools.module.user.entity.po.User" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            <include refid="table_name"/>
        <include refid="all_query_condition_with_where"/>
    </select>

    <select id="selectByUserId" resultMap="UserInfoVoMap">
        SELECT
        <include refid="all_columns"/>
        FROM
        <include refid="table_name"/>
        WHERE
        id = #{id}
    </select>

</mapper>
