<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="categories">
        <div class="site-bottom pt-50 pb-50">
            <div class="container">
                <div class="sidebar-widget widget-latest-posts mb-30 mt-20 wow fadeInUp animated">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Categories</h5>
                    </div>
                    <div class="carausel-3-columns">
                        <div th:each="category : ${categories}" class="carausel-3-columns-item d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5">
                            <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                <a class="color-white" th:href="${category.href}">
                                    <img th:src="${category.pic}" alt="">
                                </a>
                            </div>
                            <div class="post-content post-content-64 media-body">
                                <h6> <a th:href="${category.href}" th:text="${category.name}">Travel Tips</a> </h6>
                                <p class="text-muted font-small" th:text="${category.words}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--container-->
        </div>
    </div>
</body>
</html>
