<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="foot">
        <footer class="pt-50 pb-20 bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="sidebar-widget wow fadeInUp animated mb-30">
                            <div class="widget-header-2 position-relative mb-30">
                                <h5 class="mt-5 mb-30">About me</h5>
                            </div>
                            <div class="textwidget">
                                <p>
                                    程序猿一枚，目前在「神州优车」做一条咸鱼。
                                </p>
                                <p>
                                    无志青年，只想养老。
                                </p>
                                <p><strong class="color-black">Follow me</strong><br>
                                <ul class="header-social-network d-inline-block list-inline color-white mb-20">
                                    <li class="list-inline-item"><a class="bilibili" href="https://space.bilibili.com/10641577" target="_blank" title="Bilibili"><img src="/static/imgs/icons/bilibili.svg"></a></li>
                                    <li class="list-inline-item"><a class="tw" href="https://twitter.com/edchu_cn" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="ig" href="https://www.instagram.com/edchu_cn/" target="_blank" title="Instagram"><i class="elegant-icon social_instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="sidebar-widget widget_categories wow fadeInUp animated mb-30" data-wow-delay="0.1s">
                            <div class="widget-header-2 position-relative mb-30">
                                <h5 class="mt-5 mb-30">Quick link</h5>
                            </div>
                            <ul class="font-small">
                                <li class="cat-item cat-item-2"><a href="/aboutme">About me</a></li>
                                <li class="cat-item cat-item-7"><a href="#">Hire me</a></li>
                                <li class="cat-item cat-item-7"><a href="#">Contact</a></li>
                                <li class="cat-item cat-item-7"><a href="#">Admin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="sidebar-widget widget_tagcloud wow fadeInUp animated mb-30" data-wow-delay="0.2s">
                            <div class="widget-header-2 position-relative mb-30">
                                <h5 class="mt-5 mb-30">Tagcloud</h5>
                            </div>
                            <div class="tagcloud mt-50">
                                <a class="tag-cloud-link" th:each="hotTag : ${hotTags}" th:href="'/tag/' + ${hotTag.tag}" th:text="${hotTag.tag}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="sidebar-widget widget_newsletter wow fadeInUp animated mb-30" data-wow-delay="0.3s">
                            <div class="widget-header-2 position-relative mb-30">
                                <h5 class="mt-5 mb-30">Newsletter</h5>
                            </div>
                            <div class="newsletter">
                                <p class="font-large">订阅我，</p>
                                <p class="font-medium">你就可以在你的收件箱里第一时间看到最新文章啦！</p>
                                <form class="input-group form-subcriber mt-30 d-flex">
                                    <input type="email" class="form-control bg-white font-small" placeholder="输入你的邮箱地址">
                                    <button class="btn bg-primary text-white" type="submit">订&nbsp阅</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 footer-copy-right pt-30 mt-20">
                        <p class="float-md-left font-small text-muted mr-10">CopyRight © 2021-2021 <a href="#">EdChu的独立博客</a></p>
                        <p class="float-md-left font-small text-muted"><a href="https://beian.miit.gov.cn/" target="_blank">苏ICP备2021009299号</a></p>
                        <p class="float-md-right font-small text-muted">
                            Design by <a href="https://alithemes.com" target="_blank">AliThemes</a> | All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
