<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header">
        <header class="main-header header-style-1 font-heading">
            <div class="header-top">
                <div class="container">
                    <div class="row pt-20 pb-20">
                        <div class="col-md-3 col-xs-6">
                            <a href="/"><img class="logo" src="/static/imgs/theme/logo.png" alt="" style="height: 40px"></a>
                        </div>
                        <div class="col-md-9 col-xs-6 text-right header-top-right ">
<!--                            <span class="vertical-divider mr-20 ml-20 d-none d-md-inline"></span>-->
                            <button class="search-icon d-none d-md-inline"><span class="mr-15 text-muted font-small"><i class="elegant-icon icon_search mr-5"></i>搜索</span></button>
                            <button th:if='${session.user}' class="no-play d-md-inline"><a href="http://localhost" class="text-muted font-small" th:text='${session.user.nickname}'>登录</a></button>
                            <button th:unless='${session.user}' class="no-play d-md-inline"><a href="http://localhost/#/login?redirect=http://localhost:8080" class="text-muted font-small">登录</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-sticky">
                <div class="container align-self-center">
                    <div class="mobile_menu d-lg-none d-block"></div>
                    <div class="main-nav d-none d-lg-block float-left">
                        <nav>
                            <!--Desktop menu-->
                            <ul class="main-menu d-none d-lg-inline font-small">
                                <li>
                                    <a href="/"> <i class="elegant-icon icon_house_alt mr-5"></i> 首页</a>
                                </li>
                                <li>
                                    <a href="/category/it"> IT</a>
                                </li>
                                <li>
                                    <a href="/category/lifestyle">生活方式</a>
                                </li>
                                <li>
                                    <a href="/category/travel"> 旅行</a>
                                </li>
                                <li>
                                    <a href="/archive"> 归档</a>
                                </li>
                                <li>
                                    <a href="/blackboard"> 留言板</a>
                                </li>
                                <li>
                                    <a href="/coucou"> 凑凑喵的喵生</a>
                                </li>
                            </ul>
                            <!--Mobile menu-->
                            <ul id="mobile-menu" class="d-block d-lg-none text-muted">
                                <li>
                                    <a href="/"> <i class="elegant-icon icon_house_alt mr-5"></i> 首页</a>
                                </li>
                                <li>
                                    <a href="/category/it"> IT</a>
                                </li>
                                <li>
                                    <a href="/category/lifestyle">生活方式</a>
                                </li>
                                <li>
                                    <a href="/category/travel"> 旅行</a>
                                </li>
                                <li>
                                    <a href="/archive"> 归档</a>
                                </li>
                                <li>
                                    <a href="/blackboard"> 留言板</a>
                                </li>
                                <li>
                                    <a href="/coucou"> 凑凑喵的喵生</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="float-right header-tools text-muted font-small">
                        <ul class="header-social-network d-inline-block list-inline mr-15">
                            <li class="list-inline-item"><a class="bilibili" href="https://space.bilibili.com/10641577" target="_blank" title="Bilibili"><img src="/static/imgs/icons/bilibili.svg"></a></li>
                            <li class="list-inline-item"><a class="tw" href="https://twitter.com/edchu_cn" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                            <li class="list-inline-item"><a class="ig" href="https://www.instagram.com/edchu_cn/" target="_blank" title="Instagram"><i class="elegant-icon social_instagram"></i></a></li>
                        </ul>
                        <div class="off-canvas-toggle-cover d-inline-block">
                            <div class="off-canvas-toggle hidden d-inline-block" id="off-canvas-toggle">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>
